<%= link "New timer", to: Routes.timer_path(@conn, :new) %>
<ul>
  <%= for timer <- @timers do %>
    <li>
      <%= link "#{timer.seconds} seconds", to: Routes.live_path(@conn, ClockWeb.TimerLive, timer.id) %>
      &nbsp;
      <%= link "Delete", to: Routes.timer_path(@conn, :delete, timer.id), method: :delete, class: "button", data: [confirm: "Are you sure?"] %>
    </li>
  <% end %>
</ul>
