<%= form_for @timer, Routes.timer_path(@conn, :create), fn f -> %>
  <label><span>Seconds:</span>
    <%= text_input f, :seconds %>
  </label>
  <%= error_tag f, :seconds %>
  <%= submit "Create" %>
<% end %>
