<p class="timer <%= if @seconds == 0, do: "finished" %>"><%= @seconds %></p>
<%= if @running do %>
  <button class="button" phx-click="stop">Stop</button>
<% else %>
  <button class="button" phx-click="start">Start</button>
<% end %>
<button class="button" phx-click="reset">Reset</button>
